# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env

# Logs
*.log

# IDE / editor files
.vscode/
.idea/

# OS files
.DS_Store
